// Custom.scss
// Option A: Include all of Bootstrap
// Your variable overrides
//$body-bg: #CAD5B2;
$body-color: black;
$bg-primary-green: #317267;
$bg-primary-blue: #002266;

$theme-colors: (
  "primary-green": #317267,
  "primary-blue": #002266,
  "danger": #ff4136,
  "dark": #00418C,
  "light": white
);

.primary-blue-background {
  background-color: $bg-primary-blue
}

.primary-green-background {
  background-color: $bg-primary-green
}

.white-font {
  color: white;
}

.black-font {
  color: black;
}

.text-centered {
  text-align: center;
}

.jumbotron-image {
  background: url('images/city-hall.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
  padding: 25%;
}

.padding-20-sides {
  padding-left: 20em;
  padding-right: 20em;
}

.padding-left-1p {
  padding-left: 1%;
}

.padding-bottom-1p {
  padding-bottom: 1%;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-40px {
  padding: 40px;
}

.margin-10 {
  margin: 10px;
}

.margin-5 {
  margin: 5px;
}

.margin-right-1p {
  margin-right: 1%;
}

.margin-top-1p {
  margin-top: 1%;
}

.margin-top-3p {
  margin-top: 3%;
}

.margin-bottom-none {
  margin-bottom: 0% !important;
}

.border-1 {
  border: solid 1px black;
}

.border-bottom {
  border-bottom: solid 1px black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.max-height-30em {
    max-height: 30em;
}

.max-width-100p {
    max-width: 100%;
}

//hacky, let's not select on a default id within the react-p5 lib
#defaultCanvas0 {
    border-radius: 50%;
}

.hero-font {
  font-size: 5em;
  font-family: cursive;
  font-weight: bolder;
  color: white;
  font-style: italic;
  padding: 15px;
}

#city-brand {
  display: inline;
  font-size: 2em;
  vertical-align: middle;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  bottom: 0;
  width: 100%;
  text-align: left;
}

@import "node_modules/bootstrap/scss/bootstrap";
